{{#each studios as |studio|}}
<div class="row">
  <div class="col-md-6">
    <div class="admin-studio-display">
    <img class="admin-icon" src={{studio.image}} />
    {{#link-to 'studio' studio.id}}{{studio.name}}{{/link-to}}
    {{studio.location}}{{studio.contact}}
    </div>
  </div>
  <div class="col-offset-4">
    <div class="col-md-1">
     {{edit-studio studio=studio editStudio="editStudio"}}
    </div>
    <div class="col-md-1">
     <button class="btn btn-danger">Delete Studio</button>
   </div>
  </div>
</div>
{{/each}}
